* {
    padding: 0;
    margin: 0;
  }
  html,
  body {
    padding: 0;
    margin: 0;
  }
  
  .homeNav {
    width: 100%;
    height: 80px;
    color: orange;
    background-color: #fff;
    border-bottom-color: orange;
    border-bottom-style: solid;
    border-bottom-width: 4px;
  }
  
  .homeNav ul {
    text-align: right;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 15px;
   
  }
  .homeNav ul li {
    display: inline-block;
    line-height: 50px;
    padding: 0 10px;
    cursor: pointer;
  }
  .homeNav ul a li{
    display: inline-block;
    line-height: 50px;
    padding: 0 10px;
    cursor: pointer;
    color: orange;
  }
  .homeNav ul li:hover {
    display: inline-block;
    line-height: 50px;
    padding: 0 10px;
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:orange;
  }
  .logo{
      float: left;
      padding-left: 20px;
      padding-top: 20px;
    padding-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;

  }

  .main-content form {
    width: 50%;
    height: fit-content;
    margin: 30px auto;
  }
  .main-content form input {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #999;
    border-radius: 4px;
  }
  #title{
    text-align: center;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: orange;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }
  .update{
    height: auto;
    padding: 15px;
    padding-bottom: 20px;
    border-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: orange;
  }

  .myloan{
    height: auto;
    padding: 15px;
    padding-bottom: 20px;
    border-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: orange;
  }

  .loanApplication{
    height: auto;
    padding: 15px;
    padding-bottom: 20px;
    border-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: orange;
  }
  input[type="text"],input[type="number"],input[type="email"]{
    color: orange;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: orange;
  }
  select  {
    color: orange;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: orange;
  }
  /* .main-content button {
    padding: 10px;
    border: none;
    background: #38bc8a;
    color: #fff;
    border-radius: 4px;

  .regForm,
  .loginForm {
    display: none;
  }
  .closeBtn,
  .closeLoginBtn {
    font-size: 50px;
    color: #dd0d0d;
  }
  .loginFormWrapper{
    border:1px solid orange;
    padding: 10px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: orange;
    border-radius: 4px;
    margin-bottom: 10px;
  
  }
  .loginWrapper{
    border:1px solid orange;
    padding: 10px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: orange;
    border-radius: 4px;
    display: none;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  